:root {
    --color-bg: #0a0a0a;
    --color-blood: #8a0303;
    --color-bone: #e3DAC9;
    --color-gold: #c5a059;
    --color-ui-bg: rgba(20, 0, 0, 0.85);

    --font-main: 'Courier New', Courier, monospace;

    --z-index-canvas: 0;
    --z-index-ui: 10;
}
